*  /* wildcard = all elements */
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body 
{
    background: #211148;
    background-image: url("res/img/bg_stars.jpg");
    background-size: 70vh 70vh;
    background-attachment: scroll;

    font-family: sans-serif;
}

/* Header */
header
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 15vh;

    background: #5d9a44;
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;

    border-style: solid;
    border-width: 0.7vh;
    border-color: #164006;

    /*Keeps above animations-- if something is going on top, increase this value*/
    z-index: 1;
}

main
{
    padding-top: 15vh; /* offset. Should match header height */
    margin-top: 20px; /* additional offset. Should match .row margin-bottom */
    padding-left: 16px;
    padding-right: 16px;

    color:#ccc;
    font-family: "Comic Relief", "Comic Sans MS", sans-serif;
}

.main-logo
{
    height:100%;
    
}

.main-logo:hover
{
animation:wiggle 0.25s linear infinite alternate;
}

.social-icon:link
{
    width: 10%;
    text-align: center;
    margin-right:1.2%;
    margin-left:1.2%;
    color:#eee;
    font-size: 25px;
}

.social-icon:visited
{
    color:#eee;
}

.social-icon:hover
{
    color:#a0d7d5;
    animation:boing 0.25s ease-in-out;
}

.social-icon:active
{
    color:#76c6da;
}

.social-icon i /* font awesome icon will shrink if I dont specify*/
{
    width:100%;
}

.emoji 
{
	display:inline;
	width:4.7vmin;
    margin-bottom: -3px;
}

.emoji-wide
{
    display:inline;
    width: 8vmin;
}

.flavor-text
{
    text-align: center;
    font-size: 2.7vmin;
}

/* Row wrapper set to columns (side-by-side)*/
.row
{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

/* disables side margin images for mobile*/
.marginImages
{
display: none;
}

/* Each block */
.block
{
    flex: 1;
    padding: 13px 9px;
    background: #080114;

    border-style: double;
    border-color:azure;

    font-size: 3.9vmin;

    animation: bob 7s ease-in-out infinite;
}

.big-text
{
    font-size: 4.6vmin;
}

.block strong
{
    text-transform: uppercase;
    color:rgb(171, 223, 48);
}

/* Image block */
.img-block
{
    flex: 1;

}

.img-block img
{
    width:100%;
}

/* Two column layout*/
.row.two
{
      flex-direction: row;
      gap: 16px; /* spacing between side-by-side blocks */
}



/* Rules for LARGER screen (desktop) */
/*************************************/
/*************************************/
@media (min-width: 768px) 
{

.contentBody
{
    margin: auto;
    width:650px; /* fixed width, so I'll redefine everything in px now */
    display:flex;
    flex-direction: column;
}


.flavor-text
{
    font-size:18px;
}


.block
{
    font-size:26px;
    padding: 15px;
}

.big-text
{
    font-size: 30px;
}

.emoji 
{
	width:30px;
    margin-bottom: -3px;
}

.emoji-wide
{
    width: 60px;
}

/*Styling for margin images -- avoid messing with display or align*/
.marginImages
{
    
    display: block;
    width: auto;
    min-width: 200px;
    text-align: center;

}
.marginImages:hover
{
    animation:wiggle 0.4s ease-in-out infinite;
}

/* Responsible for the triple column site layout */
.columns{ 
    display:flex;
    flex-direction: row;
    width: auto;
    float: center;

}

}

/*SPECIFIC IMAGE STYLING DATA*/
#gnarp{ animation: wiggle 5s ease-in-out infinite; }
#birb{animation: bob 3s ease-in-out infinite;}
#sheep{ animation: bob 4s ease-in-out infinite;}
#tailor{animation: inverseWiggle 4.5s ease-in-out infinite;}
#hyena{animation: bob 5s ease-in-out infinite;}
#goat{animation: bob 3s ease-in-out infinite;}

#meWhenAstropelago:hover{animation:shake 0.4s linear infinite alternate;}
#underConstruction{animation:shake 4s linear infinite alternate;}


/* ANIMATIONS */
@keyframes bob { 0% {transform: translateY(0px);} 50% {transform: translateY(-10px);} 100% {transform: translateY(0px);} }
@keyframes wiggle { 0% {transform: rotate(-2deg);} 50% {transform: rotate(2deg);} 100% {transform: rotate(-2deg);} }
@keyframes inverseWiggle { 0% {transform: rotate(2deg);} 50% {transform: rotate(-2deg);} 100% {transform: rotate(2deg);} }
@keyframes boing { 0% {transform: scale(100%);} 30% {transform: scale(120%);} 100% {transform: scale(100%);} }

@keyframes shake{0% {
		transform:translate(-1px, 1px);
}
	10% {
		transform:translate(0px, 0px);
	}
	20% {
		transform:translate(-1px, -1px);
	}
	30% {
		transform:translate(1px, 1px);
	}
	40% {
		transform:translate(-1px, -1px);
	}
	50% {
		transform:translate(0px, 1px);
	}
	60% {
		transform:translate(-1px, -1px);
	}
	70% {
		transform:translate(1px, 1px);
	}
	80% {
		transform:translate(-1px, -1px);
	}
	90% {
		transform:translate(1px, 1px);
	}
	100% {
		transform:translate(1px, -1px);
	}
}